@font-face {
    font-family: 'Florent';
    src: url('../fonts/Florent-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Florent';
    src: url('../fonts/Florent-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Florent';
    src: url('../fonts/Florent-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'Florent';
    src: url('../fonts/Florent-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}