@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$primary: #233142;
$danger: #f95959;
$light: #e3e3e3;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;

@import "~bulma/bulma.sass";
@import "~pattern.css/pattern.scss";
@tailwind base;
@tailwind components;
@tailwind utilities;